p {
   font-size: 30px;
   color:coral;
   margin: 0px;
}

body {
    background-color: purple;
}

h1 {
   color:coral;
}

img{
   padding: 25px;
   boarder: 10px solid green
   margin : 50px;
}
    
